:root {
  --primary-color: rgb(238, 164, 80);
}

#carousel-example {
  width: 100%;
  max-width: 50rem;
  height: 30rem;
  margin: 5rem auto;
}

#carousel-example img {
  height: 30rem;
  object-fit: cover;
}

.newsletter-signup {
  max-width: 40rem;
  margin: 4rem auto;
}

#dummy-text {
  max-width: 50rem;
  margin: 0 auto;
}
